.welcome-hero {
    position: relative;
    background: url('../../assets/images/welcome-hero/welcome-banner.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}


.welcome-hero:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(22,25,64,.40);

}